




.home2{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 100px;
  background: linear-gradient(45deg,#071590 0,#ff003c 100%), url(../img/header/video.jpg);
  background-blend-mode: screen;*/
  /*flex-direction: column; *//*porque???*/


  /*z-index: -1;*/
}

.home2 h1{
    font-size: 1.8rem;
    transform: translateY(-80px);
}
.image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 10rem;
    background: url(../img/header/foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: -2;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 10rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fe802d 8%, #fe0840 50%, #ac0bd9 90%);
    opacity: .85;
    z-index: -1;
}


.wave{
    position: absolute;
    bottom: 0;
    left: 0;
}





h2.sll {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
h2.slll {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}


.primus {
    padding: 2rem;
    height: 100%;
    background: url(../custom3/img/main/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}





@media only screen and (min-width: 25em) {
    /* small 400px */
}
@media only screen and (min-width: 38em) {
    /* medium 608px */
}
@media only screen and (min-width: 48em){
    /*768px */
    .primus{
    	text-align: center;
    }

}
@media only screen and (min-width: 60em) {
    /* large 960px*/
    .primus{
    	text-align: left;
    }
}


@media only screen and (min-width: 62em) {
    /* large 992px*/




}
@media only screen and (min-width: 75em) {
    /* medium-large 1200px*/


    .primus {
        padding: 2rem;
        height: 100%;
        background: url(../custom3/img/main/bg1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
    }
    

    




}
@media only screen and (min-width: 90em) {
    /* extra large 1440px */



    .primus {
        padding: 3rem !important;
        height: 100%;
        background: url(../custom3/img/main/bg1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
    }


    
   
}
@media only screen and (min-width: 120em){

  h2.sll {
      margin-top: 9rem;
      margin-bottom: 2.5rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 3.2rem;
  }
  h2.slll {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 3.2rem;
  }


  h2.sll:after {
      display: inline-block;
      margin-left: .8rem;
      transform: translateY(-10px);
      background: linear-gradient(45deg,#071590 0,#ff003c 100%);
      border-radius: 10px;
      bottom: 27px;
      width: 53px;
      height: 4px;
      content: '';
      z-index: 10;
  }
  h2.slll:after {
      display: inline-block;
      margin-left: .8rem;
      transform: translateY(-10px);
      background: linear-gradient(45deg,#071590 0,#ff003c 100%);
      border-radius: 10px;
      bottom: 27px;
      width: 53px;
      height: 4px;
      content: '';
      z-index: 10;
  }

  .primus {
      padding: 8rem !important;
      height: 100%;
      background: url(../custom3/img/main/bg1.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
  }

}    